<script>
  import { onMount, setContext, onDestroy, getContext } from "svelte";
  import Block from "./Block.svelte";
  import Hero from "./Hero.svelte";
  import Star from "./Star.svelte";
  import {
    timeout,
    Step,
    TurnLeft,
    TurnRight,
    Paint,
    CallFunction,
    If,
  } from "../js/utilities";
  import {
    Level,
    StepCommand,
    IfCommand,
    TurnLeftCommand,
    TurnRightCommand,
    PaintCommand,
  } from "../js/engine";
  import * as PIXI from "pixi.js";
  import { createEventDispatcher } from "svelte";

  const COLORS = ["default", "red", "green", "blue"];

  const setActive = getContext('setActive')

  function findEntityIndex() {
    let found = blocks.findIndex((element) => {
      return (
        element.position[0] === hero.position[0] &&
        element.position[1] === hero.position[1]
      );
    });
    return found;
  }

  const dispatch = createEventDispatcher();

  export let fs = [];
  export let blocks = [];
  export let heroData,
    stars,
    goal,
    restrictions,
    playing,
    currentTiming = 500

  let hero, level, game; // main logic
  let app, container, textures; // main PIXI stuff
  let ready = false;

  const loader = PIXI.Loader.shared; // PIXI loader alias
  PIXI.settings.SCALE_MODE = PIXI.SCALE_MODES.NEAREST;

  setContext("addToContainer", (child) => {
    container.addChild(child);
  });

  function resizeContainer() {
    let scale = Math.min(
      app.view.clientWidth / container.width,
      app.view.clientHeight / container.height
    );
    container.scale.x = scale;
    container.scale.y = scale;
    let localBounds = container.getLocalBounds();
    container.x =
      app.screen.width / 2 -
      container.width / 2 -
      localBounds.x * container.scale.x;
    container.y =
      app.screen.height / 2 -
      container.height / 2 -
      localBounds.y * container.scale.y;
  }

  setContext("resizeContainer", resizeContainer);

  function setup() {
    const view = document.getElementById("view");
    app = new PIXI.Application({
      width: view.offsetWidth,
      height: view.offsetHeight,
      view: view,
      backgroundColor: 0xffffff,
      resolution: window.devicePixelRatio || 1,
      autoDensity: true,
    });
    container = new PIXI.Container();
    app.stage.addChild(container);
    textures = loader.resources["/assets/spritesheet.json"].textures;
    level = new Level("", blocks, heroData, goal, stars, restrictions);
    hero = level.hero;
    ready = true;
  }

  function handleWin() {
    dispatch("win", {}); // if won
  }

  function handleLose() {
    dispatch("lose", {});
  }

  function isPlaying() {
    return playing;
  }

  function getCommand(data, index) {
    let command;
    switch (data.name) {
      case "step":
        command = new Step({ timing: currentTiming});
        break;
      case "left":
        command = new TurnLeft({ timing: currentTiming});
        break;
      case "right":
        command = new TurnRight({ timing: currentTiming});
        break;
      case "paint":
        command = new Paint(data.color, { timing: currentTiming});
        break;
      case "call function":
        command = new CallFunction(data.functions[data.f], {
          timing: currentTiming,
          update,
          isPlaying,
          onWin: handleWin,
        });
        break;
    }
    return data.colorIndex != 0
      ? new If(COLORS[data.colorIndex], command)
      : command;
  }

  function assembleFunctions() {
    let functions = Array.from(
      { length: restrictions.numberOfFunctions },
      () => []
    );
    for (let i = 0; i < fs.length; i++) {
      // for each function
      for (let j = 0; j < fs[i].length; j++) {
        if (fs[i][j]) {
          const command = fs[i][j]
          functions[i].push(getCommand({ ...command.data, functions }, j));
        }
      }
    }
    console.log(functions);
    return functions;
  }

  function update() {
    hero.position = hero.position;
    hero.direction = hero.direction;
    blocks[findEntityIndex(hero, blocks)] =
      blocks[findEntityIndex(hero, blocks)];
    stars[blocks[findEntityIndex(hero, blocks)]] =
      stars[blocks[findEntityIndex(hero, blocks)]];
  }

  $: if (playing) {
    play()
  }

  export async function play() {
    let commands = assembleFunctions();
    let firstCall = new CallFunction(commands[0], {
      timing: currentTiming,
      update,
      isPlaying,
      onWin: handleWin,
      onLose: handleLose,
      index: 0,
      setActiveFunction: setActive
    });
    firstCall.execute(level);
  };

  onMount(() => {
    if (loader.resources["/assets/spritesheet.json"]) {
      setup();
    } else {
      loader
        .add("/assets/spritesheet.json") // 1. Loading Textures using a texture atlas
        .load(setup); // 2. After load is completed we run setup function.
    }
  });
</script>

<style>
  #view {
    width: 100%;
    height: 100%;
  }
  #app {
    margin: 16px;
  }
</style>

<div id="app">
  <canvas id="view" />
  {#if ready}
    {#each blocks as block, i}
      <Block position={block.position} color={block.color} {textures} />
    {/each}
    {#each stars as star}
      <Star position={star.position} isEaten={star.isEaten} {textures} />
    {/each}
    <Hero {textures} {hero} />
  {/if}
</div>
