<script>
  import { CallFunctionCommand } from "../../js/engine";
  import Command from '../Command.svelte'

  export let data = {
    command: CallFunctionCommand,
    name: "call function",
    f: 0,
    colorIndex: 0,
    state: "PALETTE",
  };
</script>

<style>
  :global(.drg-fcall) {
    font-size: 14px;
    font-weight: 800;
    color: white;
  }
</style>

<Command bind:data>
  <span class="drg-fcall">{"F" + (data.f + 1)}</span>
</Command>

