<script>
  import { TurnLeftCommand, TurnRightCommand } from "../../js/engine.js";
  import Command from "../Command.svelte";

  export let data = {
    colorIndex: 0,
    state: "PALETTE",
    command: TurnLeftCommand,
    name: "left",
  };

  function handlePaletteAction() {
    data.name = data.name == 'left' ? 'right' : 'left';
  }
</script>

<Command bind:data on:paction={handlePaletteAction}>
  {#if data.name == 'left'}
    <svg
      focusable="false"
      preserveAspectRatio="xMidYMid meet"
      xmlns="http://www.w3.org/2000/svg"
      fill="white"
      width="20"
      height="20"
      viewBox="0 0 32 32"
      aria-hidden="true">
      <path
        d="M28 30H16a2.0023 2.0023 0 01-2-2V16a2.0023 2.0023 0 012-2H28a2.0023
        2.0023 0 012 2V28A2.0023 2.0023 0 0128 30zM15 2L13.59 3.41 16.17
        6H11a7.0078 7.0078 0 00-7 7v5H6V13a5.0057 5.0057 0 015-5h5.17l-2.58
        2.59L15 12l5-5z" />
      <title>Rotate clockwise filled</title>
    </svg>
  {:else}
    <svg
      focusable="false"
      preserveAspectRatio="xMidYMid meet"
      xmlns="http://www.w3.org/2000/svg"
      fill="white"
      width="20"
      height="20"
      viewBox="0 0 32 32"
      aria-hidden="true">
      <path
        d="M2 28V16a2.0023 2.0023 0 012-2H16a2.0023 2.0023 0 012 2V28a2.0023
        2.0023 0 01-2 2H4A2.0023 2.0023 0 012 28zM17 2l1.41 1.41L15.83
        6H21a7.0078 7.0078 0 017 7v5H26V13a5.0057 5.0057 0 00-5-5H15.83l2.58
        2.59L17 12 12 7z" />
      <title>Rotate counterclockwise filled</title>
    </svg>
  {/if}
</Command>
