<script>
  import { PaintCommand } from "../../js/engine";
  import Command from "../Command.svelte";

  export let disabled

  const colors = {
    white: "#FFFFFF",
    red: "#fa4d56",
    green: "#42BE65",
    blue: "#2f80ed",
  };

  export let data = {
    command: PaintCommand,
    name: "paint",
    color: "white",
    colorIndex: 0,
    state: "PALETTE",
  };

  function handlePaletteAction() {
    switch (data.color) {
      case "white":
        data.color = "red";
        break;
      case "red":
        data.color = "green";
        break;
      case "green":
        data.color = "blue";
        break;
      case "blue":
        data.color = "white";
        break;
    }
  }
  
</script>

<Command {disabled} bind:data on:paction={handlePaletteAction}>
  <svg
    width="20"
    height="20"
    viewBox="0 0 32 32"
    fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <path
      d="M28.8299 23.1699L22.9999 17.3299V12.9999C23.0007 12.8683 22.9755
      12.7379 22.9257 12.616C22.8759 12.4942 22.8026 12.3834 22.7099
      12.2899L12.7099 2.28994C12.617 2.19621 12.5064 2.12182 12.3845
      2.07105C12.2627 2.02028 12.1319 1.99414 11.9999 1.99414C11.8679 1.99414
      11.7372 2.02028 11.6154 2.07105C11.4935 2.12182 11.3829 2.19621 11.2899
      2.28994L2.28994 11.2899C2.19621 11.3829 2.12182 11.4935 2.07105
      11.6154C2.02028 11.7372 1.99414 11.8679 1.99414 11.9999C1.99414 12.132
      2.02028 12.2627 2.07105 12.3845C2.12182 12.5064 2.19621 12.617 2.28994
      12.7099L12.2899 22.7099C12.3834 22.8026 12.4942 22.8759 12.616
      22.9257C12.7379 22.9755 12.8683 23.0007 12.9999 22.9999H17.3399L23.1699
      28.8399C23.9205 29.5905 24.9385 30.0122 25.9999 30.0122C27.0614 30.0122
      28.0794 29.5905 28.8299 28.8399C29.5805 28.0894 30.0022 27.0714 30.0022
      26.0099C30.0022 24.9485 29.5805 23.9305 28.8299 23.1799V23.1699ZM27.4099
      27.4099C27.0352 27.7824 26.5283 27.9915 25.9999 27.9915C25.4716 27.9915
      24.9647 27.7824 24.5899 27.4099L18.4599 21.2899C18.2469 21.1434 18.0047
      21.0445 17.7499 20.9999H13.4099L12.4099 19.9999L19.9999 12.4099L20.9999
      13.4099V17.7499C21.001 18.0123 21.1052 18.2637 21.2899 18.4499L27.4099
      24.5899C27.7824 24.9647 27.9915 25.4716 27.9915 25.9999C27.9915 26.5283
      27.7824 27.0352 27.4099 27.4099Z"
      fill='white' />
    <path
      d="M18.59 10.9999L12 4.40991L4.41003 11.9999L11 18.5899L18.59 10.9999Z"
      fill={colors[data.color]} />
  </svg>
</Command>
