<script>
  import { fly } from "svelte/transition";
  import { sineInOut } from "svelte/easing";
  import FunctionCommand from "./Commands/FunctionCommand.svelte";
  import PaintBucketCommand from "./Commands/PaintBucketCommand.svelte";
  import {
    TurnLeftCommand,
    StepCommand,
    PaintCommand,
    CallFunctionCommand,
  } from "../js/engine";
  import { onMount } from "svelte";
  import { Droppable } from "@shopify/draggable";
  import Command from "./Command.svelte";
  import LeftRightCommand from "./Commands/LeftRightCommand.svelte";
  import MoveCommand from "./Commands/MoveCommand.svelte";
  import Dropzone from "./Dropzone.svelte";
  import Function from "./Function.svelte";
  import { getContext, setContext } from "svelte";

  export let dragging = false;


  export let restrictions = {
    allowedCommands: [],
    numberOfFunctions: 1,
    numberOfCommands: 6,
  };

  function getFS(nofF, nofC) { // get dropzones for each function
    let result = new Array()
    for (let i = 0; i < nofF; i++) {
      if (Array.isArray(nofC)) {
        result.push(new Array(nofC[i]))
        console.log(nofC);
      } else if (typeof nofC === 'number') {
        result.push(new Array(nofC))
      }
    }
    return result
  }


  export let fs = getFS(restrictions.numberOfFunctions, restrictions.numberOfCommandsInFunctions ? restrictions.numberOfCommandsInFunctions : restrictions.numberOfCommands)

  // $: console.log(restrictions);

  const paletteCommands = {
    step: {
      component: MoveCommand,
      data: {
        colorIndex: 0,
        state: "PALETTE",
        name: "step",
      },
    },
    left: {
      component: LeftRightCommand,
      data: {
        colorIndex: 0,
        state: "PALETTE",
        name: "left",
      },
    },
    paint: {
      component: PaintBucketCommand,
      data: {
        colorIndex: 0,
        state: "PALETTE",
        name: "paint",
        color: "white",
      },
    },
  };

  function getPaletteCommands(cmds) {
    let result = [];
    cmds.forEach((e) => {
      console.log(e);
      switch (e) {
        case "left":
          result.push(Object.create(paletteCommands.left));
          break;
        case "step":
          result.push(Object.create(paletteCommands.step));
          break;
        case 'paint':
          result.push(Object.create(paletteCommands.paint))
          break;
        case "call function":
          for (let i = 0; i < fs.length; i++) {
            result.push({
              component: FunctionCommand,
              data: {
                name: "call function",
                f: i,
                state: "PALETTE",
                colorIndex: 0,
              },
            });
          }
          break;
      }
    });
    return result
  }

  let palette = getPaletteCommands(restrictions.allowedCommands);

  let drp;

  function initDroppable(node) {
    drp = new Droppable(node, {
      draggable: ".drg-wrapper",
      dropzone: ".drg-dropzone",
    });

    let lastOver;

    drp.on("drag:start", (evt) => {
      dragging = true;
      lastOver = evt.sensorEvent.target;
    });

    drp.on("drag:move", (evt) => {
      lastOver = evt.sensorEvent.target;
    });

    drp.on("droppable:dropped", (evt) => {
      evt.cancel();
    });

    drp.on("droppable:stop", (evt) => {
      //todo: залипание
      const lastDataset = evt.dropzone.dataset;
      const currentDataset = lastOver.dataset;
      if (currentDataset.dropzone) {
        if (lastDataset.f != "PALETTE") {
          if (currentDataset.f == "TRASH")
            fs[parseInt(lastDataset.f)][
              parseInt(lastDataset.dropzone)
            ] = undefined;
          else {
            [
              fs[parseInt(lastDataset.f)][parseInt(lastDataset.dropzone)],
              fs[parseInt(currentDataset.f)][parseInt(currentDataset.dropzone)],
            ] = [
              fs[parseInt(currentDataset.f)][parseInt(currentDataset.dropzone)],
              fs[parseInt(lastDataset.f)][parseInt(lastDataset.dropzone)],
            ];
          }
        } else if (currentDataset.f != "TRASH") {
          let { data, component } = palette[evt.dropzone.dataset.dropzone];
          fs[parseInt(currentDataset.f)][parseInt(currentDataset.dropzone)] = {
            data: { ...data, state: "DROPZONE" },
            component,
          };
        }
      }
      dragging = false;
    });
  }

  setContext('isDisabled',!restrictions.allowedCommands.includes('if'))

</script>

<style>
  * {
    outline: none;
  }
  :global(.drg-board) {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 8px;
  }
</style>

<div
  use:initDroppable
  transition:fly={{ duration: 150, y: -100, easing: sineInOut }}
  class="drg-board">
  {#each fs as f, i}
    <Function commands={f} id={i}/>
  {/each}
  {#each palette as command, i}
    <Dropzone dropzone={i} f="PALETTE" occupied>
      <svelte:component this={command.component} bind:data={command.data}/>
    </Dropzone>
  {/each}
</div>
