<script>
  import { getContext } from "svelte";

  import { createEventDispatcher } from 'svelte';
  const dispatch = createEventDispatcher();

  const disabled = getContext('isDisabled')

  const COLORS = [
    "default",
    "red",
    "green",
    "blue"
  ]

  export let data = {
    state: 'DROPZONE',
    colorIndex: 0,
  }

  function changeColor() {
    if (!disabled)
      data.colorIndex = data.colorIndex >= COLORS.length - 1 ? 0 : data.colorIndex + 1
  }

  function handleClick() {
    if (data.state == 'DROPZONE') {
      changeColor()
      dispatch('caction', {})
    } else if (data.state == 'PALETTE') {
      dispatch('paction', {})
    }
  }

</script>

<style>
  * {
    outline: none;
  }
  :global(.drg-wrapper) {
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
  }
  :global(.drg-command) {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    opacity: 1;
  }
  /* :global(.drg-command:not(active)) {
    transform: scale(1);
    transition-delay: 50ms;
  }
  :global(.drg-command:active) {
    transform: scale(0.8);
  } */
  :global(.default) {
    background-color: #000000;
    box-shadow: 0px 4px 8px hsla(200, 12%, 15%, 0.4);
    transition: all 300ms;
  }
  :global(.red) {
    background-color: #fa4d56;
    box-shadow: 0px 4px 8px rgba(250, 77, 86, 0.6);
    transition: all 300ms;
  }
  :global(.blue) {
    background-color: #2F80ED;
    box-shadow: 0px 4px 8px #2F80ED99;
    transition: all 300ms;
  }
  :global(.green) {
    background-color: #42BE65;
    box-shadow: 0px 4px 8px #42BE6599;
    transition: all 300ms;
  }
  :global(.draggable-source--is-dragging .drg-command) {
    opacity: 0;
  }
  :global(.draggable-mirror .drg-command) {
    transition: transform 200ms ease-in-out;
    transform: scale(0.6) rotate(15deg);
  }
</style>

<span class="drg-wrapper" data-state={data.state}>
<span class={"drg-command " + COLORS[data.colorIndex]} on:click={handleClick}>
  <slot/>
</span>
</span>

