<script>

  // STATE
  export let dropzone = "DEFAULT"
  export let id = "DEFAULT"
  export let f = "DEFAULT"
  export let name = "DROPZONE"
  export let occupied = false
  export let active

</script>

<style>

  * {
    outline: none;
  }
  :global(.drg-dropzone) {
    width: 48px;
    height: 48px;
    border-radius: 8px;
    background-color: #f2f4f8;
    margin: 4px;
    box-sizing: border-box;
  }
  :global(.drg-dropzone.draggable-dropzone--active) {
    border: 2px #a2a9b0 dashed;
  }
  :global(.drg-active) {
    transform: scale(1.2) translateY(-8px);
    transition: transform 150ms ease;
  }
</style>

<div 
  name={name} 
  class={"drg-dropzone " + (occupied ? "draggable-dropzone--occupied " : "") + (active ? "drg-active " : "")}
  id={id}
  data-dropzone={dropzone}
  data-f={f}
>
  <slot/>
</div>
