<script>
  import Command from "./Command.svelte";
  import Dropzone from './Dropzone.svelte'
  import { setContext } from 'svelte'

  export let commands = []

  export let id = 0
</script>

<style>
  :global(.drg-function) {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 8px;
  }
  :global(.drg-f) {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 2px #f2f4f8 solid;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 800;
    margin: 8px 4px;
  }
  :global(.drg-function .drg-wrapper, .drg-function .drg-command, .drg-function .drg-dropzone) {
    width: 40px;
    height: 40px;
  }
</style>

<div class="drg-function">
  <span class="drg-f">
    {"F" + (id + 1)}
  </span>
  {#each commands as command, i}
    <Dropzone dropzone={i} f={id} occupied={command ? true : false}>
      {#if command}
        <svelte:component this={command.component} bind:data={command.data}/>
      {/if}
    </Dropzone>
  {/each}
</div>