<script>
  export let title = "Title"
  export let numberOfXP = 0
</script>

<style>
  #navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: flex-end;
    padding: 0px 16px;
  }
  h6 {
    font-size: 14px;
    color: #2F80ED;
    font-weight: 800;
    margin: 0;
  }
  h1 {
    font-weight: 800;
    font-size: 24px;
    margin: 0;
  }
</style>

<div id="navbar">
  <h1>{title}</h1>
  <h6>{numberOfXP + " XP"}</h6>
</div>