<script>
import { sineInOut } from "svelte/easing";
import { fly } from 'svelte/transition'
import { createEventDispatcher } from 'svelte';
const dispatch = createEventDispatcher();

  export let playing = false;

  function handleClick() {
    playing = !playing;
    if (!playing) dispatch('restart', {})
  }
</script>

<style>
  #playback {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #playstop {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  :global(#playstop:active) {
    animation: ease-out 200ms bounce;
  }
  @keyframes bounce {
    0% {
      box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.75);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  :global(.play) {
    background-color: #fa4d56;
    transition: background-color 150ms;
  }
  :global(.stop) {
    background-color: black;
  }
</style>

<div id="playback" in:fly={{duration: 150, y: -50, opacity: 0}}>
  <div
    id="playstop"
    class={playing ? 'play' : 'stop'}
    on:click={handleClick}>
    {#if playing}
      <svg
        focusable="false"
        preserveAspectRatio="xMidYMid meet"
        xmlns="http://www.w3.org/2000/svg"
        fill="white"
        width="20"
        height="20"
        viewBox="0 0 32 32"
        aria-hidden="true">
        <path
          d="M24,6H8A2,2,0,0,0,6,8V24a2,2,0,0,0,2,2H24a2,2,0,0,0,2-2V8a2,2,0,0,0-2-2Z" />
        <title>Stop filled alt</title>
      </svg>
    {:else}
      <svg
        focusable="false"
        preserveAspectRatio="xMidYMid meet"
        xmlns="http://www.w3.org/2000/svg"
        fill="white"
        width="20"
        height="20"
        viewBox="0 0 32 32"
        aria-hidden="true">
        <path
          d="M7,28a1,1,0,0,1-1-1V5a1,1,0,0,1,1.501-.8652l19,11a1,1,0,0,1,0,1.73l-19,11A.9975.9975,0,0,1,7,28Z" />
        <title>Play filled alt</title>
      </svg>
    {/if}
    </div>
</div>
