<script>
  import { sineInOut } from 'svelte/easing'
  import { fly } from 'svelte/transition'
  export let f = "TRASH";
  export let dropzone = "TRASH"
</script>

<style>
  #trash {
    background-color: #f2f4f8;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
  }
</style>

<div in:fly={{duration: 150, y: 100, opacity: 0}} id="trash" data-f={f} data-dropzone={dropzone}>
  <svg
    focusable="false"
    preserveAspectRatio="xMidYMid meet"
    xmlns="http://www.w3.org/2000/svg"
    fill="#a2a9b0"
    width="32"
    height="32"
    viewBox="0 0 32 32"
    style="pointer-events: none;"
    aria-hidden="true">
    <path d="M12 12H14V24H12zM18 12H20V24H18z" />
    <path
      d="M4 6V8H6V28a2 2 0 002 2H24a2 2 0 002-2V8h2V6zM8 28V8H24V28zM12
      2H20V4H12z" />
    <title>Trash can</title>
  </svg>
</div>
