<script>
  import { circInOut } from "svelte/easing";
  import { fly } from 'svelte/transition'

  export let msg = ''
</script>

<style>
  .full {
    width: 100%;
    height: 100%;
    z-index: 5000;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h2 {
    margin-bottom: 16px;
    font-weight: 900;
  }
  .button {
    padding: 8px 16px;
    background-color: #2F80ED;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    box-shadow: 0px 2px 5px 2px rgba(47,128,237,0.6);
    transition: box-shadow 100ms ease-in-out;
    color: white
  }
  .button:active {
    box-shadow: 0px 5px 10px 2px rgba(47,128,237,1);
  }
</style>

<div transition:fly={{duration: 200, y: -100, easing: circInOut}} class="full" on:click>
  <h2>{msg}</h2>
  <div class="button">
    Хорошо
  </div>
</div>