<script>
  import { onMount, setContext } from "svelte";
  import NavBar from "./Components/NavBar.svelte";
  import BlockZone from "./Components/BlockZone.svelte";
  import { fetchLevel } from "./js/utilities";
  import Trash from "./Components/Trash.svelte";
  import Playback from "./Components/Playback.svelte";
  import Game from "./Game/Game.svelte";
  import WinModal from './Components/WinModal.svelte'

  let levelData;
  let recovery;

  let dragging = false;

  let lose = false, win = false

  $: if (win) {
    console.log("you won!");
  }

  setContext('getRestrictions', () => {
    if (levelData.restrictions)
      return levelData.restrictions
    else return false
  })

  let start = true;

  let numberOfFunctions = 3;

  let searchQuery = new URLSearchParams(window.location.search);

  let fs;

  function restart() {
    start = false;
    playing = false;
    levelData = JSON.parse(recovery);
    setTimeout(() => {
      start = true;
    }, 0);
  }

  onMount(() => {
    let levelID = searchQuery.get("level_id");
    fetchLevel(levelID).then((data) => {
      levelData = data;
      recovery = JSON.stringify(data);
    });
  });

  let playing;

  // $: console.log(levelData);

</script>

<style>
  #content {
    display: grid;
    grid-template-rows: 40px 1fr auto 80px;
    height: 100%;
    width: 100%;
  }
  :global(.loader) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  :global(.loader svg) {
    animation: linear 500ms circle infinite;
  }
  @keyframes circle {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>


{#if win}
  <WinModal msg={"Вы выиграли! 🎉🥳🎊"} on:click={() => {win = false; restart()}}/>
{/if}
<div id="content">
  {#if levelData}
    <NavBar title={levelData.name} numberOfXP={levelData.pointsForLevel.xp}/>
    {#if start}
      <Game
        blocks={levelData.blocks}
        heroData={levelData.hero}
        stars={levelData.stars}
        goal={levelData.goal}
        restrictions={levelData.restrictions}
        {fs}
        playing={playing}
        on:lose={() => {
          lose = true
          playing = false
          restart()
        }}
        on:win={(evt) => {
          win = true
          playing = false
        }} />
    {:else}
      <div class="loader">
        <svg
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M28 16C28 18.3734 27.2962 20.6935 25.9776 22.6668C24.6591 24.6402
            22.7849 26.1783 20.5922 27.0866C18.3995 27.9948 15.9867 28.2324
            13.6589 27.7694C11.3311 27.3064 9.19295 26.1635 7.51472
            24.4853C5.83649 22.8071 4.6936 20.6689 4.23058 18.3411C3.76755
            16.0133 4.00519 13.6005 4.91345 11.4078C5.8217 9.21509 7.35977
            7.34094 9.33316 6.02236C11.3065 4.70379 13.6266 4 16 4L16 10C14.8133
            10 13.6533 10.3519 12.6666 11.0112C11.6799 11.6705 10.9108 12.6075
            10.4567 13.7039C10.0026 14.8003 9.88378 16.0067 10.1153
            17.1705C10.3468 18.3344 10.9182 19.4035 11.7574 20.2426C12.5965
            21.0818 13.6656 21.6532 14.8295 21.8847C15.9933 22.1162 17.1997
            21.9974 18.2961 21.5433C19.3925 21.0892 20.3295 20.3201 20.9888
            19.3334C21.6481 18.3467 22 17.1867 22 16H28Z"
            fill="black" />
        </svg>
      </div>
    {/if}
    <BlockZone restrictions={levelData.restrictions} bind:dragging bind:fs/>
    {#if dragging}
      <Trash />
    {:else}
      <Playback bind:playing on:restart={() => restart()}/>
    {/if}
  {/if}
</div>
